@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    @layer base {
        :root {
            --sidebar-background: 0 0% 98%;
            --sidebar-foreground: 240 5.3% 26.1%;
            --sidebar-primary: tranparent;
            --sidebar-primary-foreground: 0 0% 98%;
            --sidebar-accent: 240 4.8% 95.9%;
            --sidebar-accent-foreground: 240 5.9% 10%;
            --sidebar-border: 220 13% 91%;
            --sidebar-ring: 217.2 91.2% 59.8%;
            --background: 0 0% 100%;
            --foreground: 20 14.3% 4.1%;
            --card: 0 0% 100%;
            --card-foreground: 20 14.3% 4.1%;
            --popover: 0 0% 100%;
            --popover-foreground: 20 14.3% 4.1%;
            --primary: 24.6 95% 53.1%;
            --primary-foreground: 60 9.1% 97.8%;
            --secondary: 60 4.8% 95.9%;
            --secondary-foreground: 24 9.8% 10%;
            --muted: 60 4.8% 95.9%;
            --muted-foreground: 25 5.3% 44.7%;
            --accent: 60 4.8% 95.9%;
            --accent-foreground: 24 9.8% 10%;
            --destructive: 0 84.2% 60.2%;
            --destructive-foreground: 60 9.1% 97.8%;
            --border: 20 5.9% 90%;
            --input: 20 5.9% 90%;
            --ring: 24.6 95% 53.1%;
            --radius: 0.75rem;
            --chart-1: oklch(0.646 0.222 41.116);
            --chart-2: oklch(0.6 0.118 184.704);
            --chart-3: oklch(0.398 0.07 227.392);
            --chart-4: oklch(0.828 0.189 84.429);
            --chart-5: oklch(0.769 0.188 70.08);

            --chart-error: #af0b03;
            --chart-primary: #22c55e;
            --chart-secondary: #eab308;
        }

        .dark,
        :root[class~="dark"] {
            --sidebar-background: 240 5.9% 10%;
            --sidebar-foreground: 240 4.8% 95.9%;
            --sidebar-primary: tranparent;
            --sidebar-primary-foreground: 0 0% 100%;
            --sidebar-accent: 240 3.7% 15.9%;
            --sidebar-accent-foreground: 240 4.8% 95.9%;
            --sidebar-border: 240 3.7% 15.9%;
            --sidebar-ring: 217.2 91.2% 59.8%;
            --background: 20 14.3% 4.1%;
            --foreground: 60 9.1% 97.8%;
            --card: 20 14.3% 4.1%;
            --card-foreground: 60 9.1% 97.8%;
            --popover: 20 14.3% 4.1%;
            --popover-foreground: 60 9.1% 97.8%;
            --primary: 20.5 90.2% 48.2%;
            --primary-foreground: 60 9.1% 97.8%;
            --secondary: 12 6.5% 15.1%;
            --secondary-foreground: 60 9.1% 97.8%;
            --muted: 12 6.5% 15.1%;
            --muted-foreground: 24 5.4% 63.9%;
            --accent: 12 6.5% 15.1%;
            --accent-foreground: 60 9.1% 97.8%;
            --destructive: 0 72.2% 50.6%;
            --destructive-foreground: 60 9.1% 97.8%;
            --border: 12 6.5% 15.1%;
            --input: 12 6.5% 15.1%;
            --ring: 20.5 90.2% 48.2%;
            --chart-1: oklch(0.488 0.243 264.376);
            --chart-2: oklch(0.696 0.17 162.48);
            --chart-3: oklch(0.769 0.188 70.08);
            --chart-4: oklch(0.627 0.265 303.9);
            --chart-5: oklch(0.645 0.246 16.439);

            --chart-error: #af0b03;
            --chart-primary: #22c55e;
            --chart-secondary: #eab308;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
